body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: azure;
    color: antiquewhite;
    text-align: center;
    padding: 1px;
}

h1 {
    margin: 5px;
}

#start-screen, #end-screen {
    text-align: center;
}

#start-screen button, #submit-score-btn {
    background-color: azure;
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 1px;
}

#start-screen button:hover, #submit-score-btn:hover {
    opacity: .5px;
}

.hide {
    display: none;
}

.timer {
    text-align: right;
    margin: 1px;
}

#question-container {
    margin: 2px;
    text-align: left;
}

#questions {
    margin-bottom: 1px;
}

#choices li {
    margin: 1px 1px 1px;
    list-style: none;
}

#choices li:hover {
    text-decoration: underline;
}

